body {
  background: pink;
}
h1 {
  color: blue;
  fontsize: 3em;
}

h2 {
  color: green;
  font-weight: normal;
  font-style: italic;
}

#tasks .completed {
  background: #0f0;
  text-decoration: underline;
  font-family: 12px;
}
#tasks li{
  background: #0f0;
  text-decoration: underline;
  font-family: 12px;
}
